header{min-height: 8vh}
main{min-height: 88vh; 
    background-image: url(/Recursos_Amazing_Events_Task_1/water-839590_640.jpg);
    background-repeat: no-repeat; background-size: cover;}
footer{min-height: 8vh;}
.carousel-item{height: 25vh;}
.pie{margin-right: 1em; margin-top: 0.8em; margin-bottom: auto;}

.tamaño{width: 100%; height: 50%;}
.titulo{font-size: 4em}
.logo{height: 2em;}
.piePagina{background-color: blue;}
.borde{border: solid; border-radius: 5%;}
.centrado{display: flex; justify-content: center;}

@media only screen and (max-width: 770px){footer{min-height: 16vh;}}
